<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us - Electro</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<th:block th:insert="ViewcartHeader.html"></th:block>

 

  <!-- MAIN CONTENT -->
  <main>
    <section id="about-us">
      <div class="container">
        <h2>About Us</h2>
        <p>Welcome to Electro, your one-stop shop for all your electronic needs. We are passionate about providing the latest and greatest electronic products to our customers, making their lives easier and more enjoyable.</p>
        
        <p>With a wide range of products including laptops, smartphones, cameras, and accessories, we strive to offer the best selection of high-quality electronics at competitive prices.</p>
        
        <p>At Electro, we believe in delivering exceptional customer service. Our knowledgeable and friendly staff are always ready to assist you in finding the perfect product to meet your needs and answer any questions you may have.</p>
        
        <p>With a secure online shopping experience, fast shipping, and hassle-free returns, we aim to make your shopping experience with us as convenient as possible. Your satisfaction is our top priority.</p>
        
        <p>Thank you for choosing Electro. We look forward to serving you and providing you with an exceptional shopping experience. Happy shopping!</p>
      </div>
    </section>
  </main>

 <th:block th:insert="footer.html"> </th:block>

  <script src="js/script.js"></script>
</body>
</html>
