<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us - Electro</title>
  <!-- CSS 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700">
  <link rel="stylesheet" href="css/style.css"> -->
</head>
<body>
 <th:block th:insert="ViewcartHeader.html"></th:block>

  <!-- MAIN CONTENT -->
  <main>
    <section id="contact-us">
      <div class="container">
        <h2>Contact Us</h2>
        
        <p>Have a question or need assistance? We're here to help! Reach out to us using one of the methods below:</p>
        
        <div class="contact-details">
          <div class="contact-info">
            <i class="fa fa-phone"></i>
            <p>Phone: +977-9812783324</p>
          </div>
          
          <div class="contact-info">
            <i class="fa fa-envelope-o"></i>
            <p>Email: bhatm836@gmail.com</p>
          </div>
          
          <div class="contact-info">
            <i class="fa fa-map-marker"></i>
            <p>Address:Mahendranagar,Kanchanpur, Nepal</p>
          </div>
        </div>
        
        <p>We value your feedback and suggestions. If you have any comments or would like to report an issue, please don't hesitate to contact us. We strive to respond to all inquiries as quickly as possible.</p>
        
        <form class="contact-form" action="/contactus" method="post">
          <input type="text" name="name" placeholder="Your Name"><br><br>
          <input type="email" name="email" placeholder="Your Email"><br><br>
          <textarea name="message" placeholder="Your Message" rows="8" cols="30"></textarea><br><br>
          <button type="submit" class="btn btn-primary mb-1">Send Message</button>
        </form>
      </div>
    </section>
  </main>

  <th:block th:insert="footer.html"> </th:block>

  <!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>
