<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Forgot Password</title>
</head>
<body>

<th:block th:insert="Viewcartheader.html"></th:block>


   <form action="/reset" method="post" style="margin-top: 56px; margin-left: 122px;">              
				<div class="row m-2">

					<div class="col-4">Email :</div>
					<div class="col-6">
						<input type="email" name="email" class="form-control" style="width: 450px">
					</div>
				</div>
				
			 <div class="row m-2" style="margin-top: 20px">

					<div class="col-4"></div>
					<div class="col-6">
						<input type="submit" value="Submit" class="btn btn-success">
						
						
					</div>
			 </div>
			 </form>
			 
			  <div class="row m-2" style="margin-top: 20px">

					<div class="col-4"></div>
					<div class="col-6">
									 <a href="/login"> <button class="btn btn-primary" style="margin-left: 121px;margin-top: -19px;">Back</button> </a>
						
						
					</div>
			 </div>
			 
			
			 
  
</body>
</html>