<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Reset Password</title>
</head>
<body>
	<th:block th:insert="ViewcartHeader.html"></th:block>


<div class="container-fluid">

		<div class="card">

			<div class="card-header bg-primary text-center text-white"></div>
			
			<div class="card-body">

				<form action="/resetpassword" method="post">


					<div class="row m-2">

						<div class="col-4">UserName</div>
						<div class="col-6">
							<input type="text" name="userName" class="form-control">
							<p style="color: red">[[${usermessage}]]</p>
						</div>


					</div>

					<div class="row m-2">

						<div class="col-4">New Password</div>
						<div class="col-6">
							<input type="text" name="password" class="form-control">
						</div>


					</div>
					<div class="row m-2">

						<div class="col-4">Confirm Password</div>
						<div class="col-6">
							<input type="text" name="confirm_password" class="form-control">
							<p style="color: red">[[${passwordmatching}]]</p>
						</div>


					</div>

					<div class="row m-2">

						<div class="col-4"></div>
						<div class="col-6">
							<input type="submit" value="Reset" class="btn btn-success">
							<a href="/"> <input class="btn btn-primary mt-1" type="button" value=" Back"></a>
						</div>
					</div>
				</form>
			</div>
			</div>
			</div>

</body>
</html>